#dialog {
    /* 位置 */
    position: absolute;
    bottom: 0px;
    left: 10%;
    z-index: 1;
    /* サイズ */
    width: 80%;
    /* 色 */
    background-color: #Bfff7f;
    border: solid 3px #3fdf00;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s cubic-bezier(0.6, 0.0, 0.4, 1.0);
}

#dialog.drawer_open {
    left: calc((20% - 200px) / 2);
    transition: 0.5s cubic-bezier(0.6, 0.0, 0.4, 1.0);
}

#dialog>div>div {
    margin-bottom: 10px;
    padding: 5px;
}

#dialog>div>div[name="column0"] {
    flex: initial;
}

#dialog>div>div[name="column1"] {
    flex: auto;
}

#dialog>div>div[name="column2"] {
    flex: initial;
}

#dialog>div>div[name="column0"]>* {
    display: block;
    margin: auto;
}

#dialog>div>div[name="column0"]>input {
    width: 100px;
    margin-bottom: 5px;
}

#dialog>div>div[name="column1"]>div {
    display: flex;
}

#dialog>div>div[name="column2"]>div {
    text-align: center;
    padding: 5px 10px;
    background-color: #6fff00;
    border: solid 3px #3fdf00;
    border-radius: 10px;
}

#dialog>div>div[name="column2"]>div[name="select_button"] {
    margin-bottom: 5px;
}

.behavior,
.detail {
    flex: initial;
}

.behavior {
    width: 175px;
    /* margin-right: 5px; */
}

.behavior>select,
.detail>div>span>select {
    color: black;
    background-color: white;
    border: solid 3px #3fdf00;
    border-radius: 0px;
}

.detail {
    display: flex;
    align-items: center;
}

.detail>div>span {
    margin: 0px 3px;
}

.detail>div>span>label,
.behavior>span>label {
    margin: 0px -1.5px;
    padding: 10px 8px;
}

.detail>div>span>label:has(input[type="radio"]),
.detail>div>span>label:has(input[type="checkbox"]) {
    background-color: #Bfff7f;
    border: solid 3px #3fdf00;
}

.detail>div>span>label:has(input[type="radio"]:checked),
.detail>div>span>label:has(input[type="checkbox"]:checked),
#dialog input.minus,
#dialog input.plus {
    background-color: #6fff00;
    border: solid 3px #3fdf00;
}

#dialog input.minus,
#dialog input.plus {
    padding: 10px 8px;
}

.detail>div>span>label>input[type="radio"],
.detail>div>span>label>input[type="button"],
.detail>div>span>label>input[type="checkbox"],
.behavior>span>label>input[type="button"] {
    display: none;
}

.detail>div>span>input[type="number"],
.behavior>span>input[type="number"] {
    transform: translate(0, -1px);
    width: 30px;
    border: solid 3px #3fdf00;
    border-radius: 0px;
    text-align: center;
    margin: 0px -1.5px;
    padding: 9px 8px;
}

.detail>div>span>select {
    transform: translate(0, -1px);
    /* iosデフォルトのセレクトを変更する場合には有効にする */
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
    /* padding: 9px 10px; */
}

.dialog_img {
    width: 100px;
    padding: 10px;
    border: solid 3px #3fdf00;
    border-radius: 20px;
    background-color: #6fff00;
}