#header {
    align-items: center;
    justify-content: center;
    height: calc(100px - 3px);
    background-color: #6fff00;
    border-bottom: solid 3px #3fdf00;
}

#header,
#header .header_category {
    display: flex;
}

#header .header_category>div {
    width: 5em;
    text-align: center;
}

#header input {
    display: none;
}

#header img {
    width: 60px;
    aspect-ratio: 1;
    border: solid 3px #0000;
    border-radius: 50%;
}

#header input:checked+img {
    border: solid 3px black;
}