#image_selection_dialog {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
}

#image_selection_dialog.show {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0009;
}

#image_selection_dialog>div[name="images"] {
    width: 50%;
    height: 90%;
    overflow: auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #Bfff7f;
    border: solid 3px #3fdf00;
    border-radius: 10px;
}

#image_selection_dialog>div[name="images"]>.img_box {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    padding: 5px;
}

#image_selection_dialog>div[name="images"]>.img_box>img {
    max-width: 50px;
    max-height: 50px;
}