#modal {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
}

#modal>div {
    width: 100%;
    height: 100%;
}

#modal.show {
    display: block;
}

#modal.no-pointer {
    pointer-events: none;
}

#clone {
    opacity: 0.5;
}