#play {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#play.isPlaying {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #333b;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play>img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 60px;
    border-radius: 50%;
    display: none;
}

#play>img.isShow {
    display: initial;
}