#canvases svg, #canvases .background {
    width: 100%;
    height: 100%;
}

#canvases .state>rect {
    stroke: black;
}

#canvases .state.dialog_view>rect {
    stroke: #3fdf00;
}

#canvases .state.from_state>rect,
#canvases .state.from_state.dialog_view>rect {
    stroke: red;
}

#canvases .trans>.curveShadow,
#canvases .trans>.triangleShadow {
    stroke: #00000000;
}

#canvases .trans.dialog_view>.curveShadow,
#canvases .trans.dialog_view>.triangleShadow {
    stroke: #3fdf00;
}

#canvases .clone {
    opacity: 0.5;
}

#canvases #clone {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}