#tabs {
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 1;
}

#tabs input[type="radio"] {
    display: none;
}

#tabs>#tab {
    display: flex;
}

#tabs .tab {
    width: calc(100px - 3px * 2);
    height: calc(50px - 3px * 2);
    border: solid 3px #3fdf00;
    border-radius: 20px 20px 0px 0px;
    background-color: #Bfff7f;
}

#tabs .tab:has(input[type="radio"]:checked) {
    background-color: #6fff00;
    border-bottom: solid 3px #0000;
}

#tabs .tab>label {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#tabs .tab_content>div {
    width: calc(200px - 3px * 2);
    height: calc(50px - 3px);
    border-bottom: solid 3px #3fdf00;
    border-left: solid 3px #3fdf00;
    border-right: solid 3px #3fdf00;
    background-color: #Bfff7f;
}

#tabs #tab_content_group>div {
    width: calc(200px - 3px * 2 - (100px - 3px * 2 - 5rem) / 2);
}

#tabs #tab_content_character label,
#tabs #tab_content_group>div {
    display: flex;
    align-items: center;
    padding-left: calc((100px - 3px * 2 - 5rem) / 2);
}

#tabs #tab_content_character label {
    width: 100%;
    height: 100%;
}

#tabs #tab_content_character>div:has(input[type="radio"]:checked) {
    background-color: #6fff00;
}

#tabs #tab_content_group>div.hover,
#tabs #tab_content_group>div:hover {
    background-color: #6fff00;
}

#tabs #add_button {
    margin: 5px auto;
    text-align: center;
}

#tabs #add_button>img {
    width: 60px;
    aspect-ratio: 1;
}

/* 
#group_context_menu {
    position: absolute;
    left: 199px;
    transform: translate(0, -50%);
    display: none;
}

#group_context_menu.is_visible {
    display: block;
} */